@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

.loginTitle {
  font-family: "Koulen", cursive;
  font-size: 15vmin;
  text-shadow: 4px 4px black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  background-image: url("../images/food.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-family: "Koulen", cursive;
  font-size: 15vmin;
  color: white;
  text-shadow: 3px 3px black;
}

.NotFound,
.Login {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.viewButton {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.viewButton:hover {
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Grid Structuring */

.grid {
  display: grid;
  grid-template-columns: repeat(5, [col-start] 1fr);
  gap: 20px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar {
  background-color: #282c34;
  color: white;
  grid-row: 1/12;
  grid-column: col-start / span 1;
}

.content {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

/* Card styling */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Resize the image to fit inside the cards */
.card > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.searchBar {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  width: 95%;
  margin-bottom: 10px;
}

.searchButton {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
}

.searchButton:hover {
  background-color: #61dafb;
  color: black;
}

.card > ul {
  text-align: left;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

.suggestions li {
  background: white;
  color: black;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

/* Create card effect */
.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

#histo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.note {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#customers {
  border-collapse: collapse;
  width: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
